{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>云·毕业照</title>
    <link rel="stylesheet" href="{% static 'PC/css/base.css' %}">
    <style>
        #music {
            margin: 20px auto 0 auto;
            text-align: center;
        }
        .waiting {
        position: fixed;
        width: 8em;
        padding: 0 2em;
    {#height: 50px;#} border: solid white 2px;
        background-color: #1f8dd6;
        color: white;
        bottom: 30%;
        left: calc(50% - 6em);
        line-height: 50px;
        border-radius: 15px;
        text-align: center;
        display: none;
    }
    </style>
</head>
<body>
<div class="body-title"><label>云·毕业照</label></div>
<div id="music">
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="95%" height="100" src="//music.163.com/outchain/player?type=0&id=5048398421&auto=1&height=90"></iframe>
</div>
<iframe id="index" src="{% url 'APPApi:graduationPhoto_menu' %}" width="100%" allowfullscreen frameborder="0" onload="reinitIframe()" style="overflow: hidden"></iframe>
<div class="waiting"></div>
</body>
<script>
    function reinitIframe() {
        var iframe = document.getElementById("index");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            {#console.log("bHeight:"+bHeight+";dHeight:"+dHeight);#}
            if (dHeight-bHeight>=100) {
                iframe.height = bHeight+20;
            } else {
                iframe.height = Math.max(bHeight, dHeight) + 10;
            }

        } catch (ex) {
        }
    }
    window.onresize=function(){ reinitIframe();}
</script>
</html>