{% extends 'PC/base/base.html' %}
{% load staticfiles %}
{% block link %}
<link rel="stylesheet" href="{% static 'PC/css/form.css' %}">
{#{% block style %}{% endblock %}#}
{% endblock %}
{% block body %}
    <div class="body-title"><label>{{ title }}</label></div>
    <div class="form">
    <form class="pure-form pure-form-aligned" method="post" action="./" enctype="multipart/form-data">
    <fieldset>
    {% csrf_token %}
    {% for form_item in form %}
        <div class="pure-control-group">
            {% if not form_item.is_hidden %}
            {{ form_item.label_tag }}
            {% endif %}
            {{ form_item}}
        </div>
    {% endfor %}
        <div class="error">{{ message }}</div>
        <button class="form-button" type="submit"><i class="iconfont icon-wancheng"></i> 提交</button>
    </fieldset>
    </form>
    </div>
{% endblock %}
{#{% block script %}#}
{#<script>#}
{#window.onload=function () {#}
{#    console.log({% for form_item in form %}{{ form_item.is_hidden }}{% endfor %})#}
{#}#}
{#</script>#}
{#{% endblock %}#}