{% extends 'PC/base/baseDetail.html' %}
{% load staticfiles %}
{#{% block title %}{{ title }}{% endblock %}#}
{#{% block body-title %}#}
{#{{ title }}#}
{#{% endblock %}#}
{#{% block detail-contain %}#}
{#{{ markdown_html | safe }}#}
{#{% endblock %}#}
{% block detail-footer %}
<div class="pure-u-1 pure-u-md-1-2">
    <a href="{% url 'EO:note_show_record' %}?id={{ note.id }}">查看笔记的修正记录</a>
</div>
<div class="pure-u-1 pure-u-md-1-2">
    <a href="{% url 'EO:change_note' %}?id={{ note.id }}&name={{ note.name }}">修改这篇笔记</a>
</div>
{% endblock %}