{% extends 'PC/base/base.html' %}
{% load staticfiles %}
{% block link %}
    <link href="{% static 'PC/css/show.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="body-title">{{ title }}</div>
    <div class="show-body">
    <div class="pure-g">
    {% for note in note_list %}
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="show-body-card">
                <div class="note-icon">{{ note.get_note_recode_category_display | slice:'1' }}</div>
                    <div class="note-name"> {{ note.get_note_recode_category_display }}</div>
                    <div class="note-user"> {{ note.user }}</div>
                    <div class="note-time">{{ note.time.month }}月{{ note.time.day }}日</div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}