{% extends 'PC/base/base.html' %}
{% load staticfiles %}
{% block link %}
    <link href="{% static 'PC/css/show.css' %}" type="text/css" rel="stylesheet"/>
<style>
.show-body{
    padding-top: 100px;
}
.show-body-card{
    height: 200px;
    width: 460px;

}
.note-name{
    {#height: 2.2em;#}
    background-color: var(--bkcolor);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding-left: 20px;
}
.show-body-card-body{
    margin: 10px 1em;
    text-indent: 2em;
    font-size: 1em;
    color: gray;
}
@media screen and (max-width: 768px){
    .show-body-card{
        width: 90%;
    }
}
</style>
{% endblock %}
{% block body %}
    <div class="body-title">{{ title }}</div>
    <div class="show-body">
        <div class="show-body-card">
            <div class="note-name"><i class="iconfont icon-error"></i> 提示</div>
        <div class="show-body-card-body">
            {{ message }}
        </div>
    </div>
    </div>
{% endblock %}